<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Default Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="Default Page">
        <meta name="author" content="CopierAndColler">
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>

    <body>
        <div class="container"></div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/static/js/ractive.js"></script>
        <script src="/static/js/app.js"></script>
    </body>
</html>