<html>
    <head>
        <title>Todolist</title>
        <style>

        </style>
    </head>
    <body>
        <h1>Test Todo.ejs</h1>
        <ul>
        <% todolist.forEach(function(todo, index) { %>
            <li><a href="/todo/supprimer/<%= index %>">X</a> <%= todo %></li>
        <% }); %>
        </ul>

        <form action="/todo/ajouter/" method="post">
            <p>
                <label>Que dois-je faire ?</label><br/>
                <input type="text" name="newtodo" id="newtodo" autofocus /><br/>
                <input type="submit" />
            </p>
        </form>
    </body>
</html>
